<% include header %>
<ol class="breadcrumb">
	<li class="text-info">系统管理</li>
	<li class="active">添加管理员</li>
</ol>

<div class="row formAdd">
	<div class="col-md-3"></div>
	<div class="col-md-6">
        <h3>添加管理员</h3>
        <form action="/admin/adminInsert" method="post">

            <div class="input-group">
              <span class="input-group-addon">登录账号</span>
              <input type="text" class="form-control" name="name">
            </div>

            <div class="input-group">
              <span class="input-group-addon">登录密码</span>
              <input type="password" class="form-control" name="password">
            </div>   
 
            <div class="input-group">
              <span class="input-group-addon">重复密码</span>
              <input type="password" class="form-control" name="repassword">
            </div>  

            <div class="input-group">
              <span class="input-group-addon">用户电话</span>
              <input type="text" class="form-control" name="tel">
            </div>


            <div class="input-group">
              <span class="input-group-addon">验证码：</span>
              <input type="text" class="form-control" name="code" style="height: 44px;">
              <div class="input-group-addon">
                <a href=""><img src="/admin/code" alt=""></a>
              </div>
            </div>


            <div class="center-block">
              <input type="submit" class="btn btn-success" value="添加管理员">
            </div>

        </form>		
	</div>
	<div class="col-md-3"></div>
</div>

<% include footer %>
