<% include header %>

<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
		  <h1>欢迎访问，好文章网</h1>
		  <p>欢迎，<%-user.name%>，来学习的管理页！！</p>
		  <p>欢迎，<%-user.name%>，来学习的管理页啊！！</p>
		  <p>欢迎，<%-user.name%>，来学习的管理页！！</p>
		  <p><a class="btn btn-primary btn-lg" href="/" role="button" target="_blank">网站首页</a></p>
		</div>
	</div>
</div>

<% include footer %>